.map-box{
    height: 80vh;
    width: 70%;
    margin-left:240px ;
}



@media (max-width: 1202px) {
    .map-box{
   background: red;
max-width: 100%;
position: relative;
left: -120px;

   }
    }
    @media (max-width: 1273px) {
        .map-box{
            background: red;
         max-width: 100%;
         position: relative;
     max-width: 100%;
    margin-left: 190px;
        }
    }