.about{
    display: block;
    align-items: center;
    justify-content: center;
color: red;
height: 40vh;
}
.info{
    height: 140vh;
    max-width: 100%;
}
.image{
    margin-top: 30px;
}
@media (max-width: 1202px) {
    .cover{
       max-width: 100%;
     

   }
   .image{
    max-width: 100%;
}

    }